* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
}


.contain {
    width: 50%;
    overflow: hidden;
    height: auto;
    margin: 10px;
    padding: 5rem;
    color: white;
    background-color: rgba(255, 255, 255, .45);
    backdrop-filter: blur(5px);
    border-radius: 15px 50px;
}

.switch-btw {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    padding: 0.6rem;
}

.link {
    color: white;
    text-decoration: none;
    border: none;
    font-weight: 800;
}

.active {
    text-decoration: underline;
    text-underline-position: under;
    color: brown;
}

.form-input {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
}



.form-input input {
    display: inline-block;
    box-decoration-break: none;
    padding: 0.9rem;
    font-size: 1.2rem;
    border: none;
    width: 60%;
    border-radius: 0.4rem;
}

.form-input label{
    display: inline-block;
    color:rgb(164, 3, 3);
    text-wrap: wrap;
    word-break: break-all;
}

.form-input input:focus {
    box-shadow: 0px 6px 6px 0px rgb(121, 235, 247);
    background-color: #d0e1f6;
}


.input-error{
    display: inline-block;
    padding: 0px;
}

.input-error p{
    font-size: 0.8rem;
    color:rgb(164, 3, 3);
}

.input-error input{
    width: 100%;
}


.btn-contain{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    text-decoration: none;
    border: none;
    font-size: 1.3rem;
    font-weight: 300;
    background-color:rgb(47, 99, 220);
    color:white;
    min-width: 100px;
    width: 60%;
    margin: 0.8rem;
    padding: 0.6rem 0.8rem;
    border-radius: 0.6rem;
}

.btn:hover {
    background: linear-gradient(to bottom,brown,rgb(171, 41, 41)) repeat scroll 0 0 #222 !important;
     color: white !important;
     transition: none !important;
     border: none !important;
}

.btn:hover{
    background-color:orange;
    cursor: pointer;
}
.msg-contain{
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg{
    color:black;
    font-size: 1.2rem;
    text-overflow: hidden;
    text-wrap: wrap;
    padding: 0.6rem;
}

.check-box{
    color:rgb(164, 3, 3);
}

.check-box input{
    padding: 0.5rem;
    box-decoration-break: none;
}

.check-box input:focus{
    border:0.1rem solid blue;
}


.acc-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.acc-container button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    background-color:rgba(255, 255, 255, .35);
    color:black;
    font-size: 1.1rem;
    padding: 0.6rem 0.8rem;
    margin: 0.3rem 0.4rem;
    border-radius: 0.6rem;
    cursor: pointer;
}

.acc-container button:hover{
    background-color: aqua;
}



.acc-container button .img{
    height: 32px;
}



@media only screen and (max-width:1230px) {
    .contain{
        padding: 5rem 3rem;
        width: 60%;
    }
}

@media only screen  and (max-width:915px){
    .contain{
        width: 70%;
    }

}

@media only screen and (max-width:780px){
    .form-input{
        font-size: 1.3rem;
    }
}

@media  only screen  and (max-width:675px){
    .contain{
        width: 75%;
        padding: 0.6rem;
    }

    .form-input{
        font-size: 1rem;
    }

    .form-input input{
        font-size: 1rem;
    }
}

@media only screen and (max-width:500px)  {
    .form-input{
        display: block;
        width: 100%;
        align-items: center;
    }
    .form-input label{
        display: block;
        padding: 0.3rem;
    }
    .form-input .input-error{
        width: 80%;
        display: block;
    }
    .acc-container{
        width: 90%;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width:360px) {
    .contain{
        width: 85%;
        padding: 0.5rem;
    }

    .btn-contain{
        display: block;
    }

    .btn{
        display: inline-block;
        width: 80%;
    }

    .acc-container{
        display: block;
        align-items: center;
        justify-content: center;
    }

    .acc-container button{
        width: 90%;
    }
}